repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
        args: []

  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
